<h4>Formularios <small> por Template </small></h4>
<hr />
<form #f="ngForm" autocomplete="off" (ngSubmit)="guardar(f)">
  <div>
    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">
        <input
          #nombre="ngModel"
          [class.is-invalid]="nombre.invalid && nombre.touched"
          class="form-control"
          [ngModel]="usuario.nombre"
          type="text"
          name="nombre"
          placeholder="Nombre"
          required
          minlength="5"
        />
        <small
          *ngIf="nombre.invalid && nombre.touched"
          class="form-text text-danger"
          >Ingrese 5 letras</small
        >
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">
        <input
          type="text"
          name="apellido"
          placeholder="Apellido"
          required
          minlength="5"
          #apellido="ngModel"
          [class.is-invalid]="apellido.invalid && apellido.touched"
          class="form-control"
          [ngModel]="usuario.apellido"
        />
        <small
          *ngIf="apellido.invalid && apellido.touched"
          class="form-text text-danger"
          >Ingrese 5 letras</small
        >
      </div>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">
      <input
        #correo="ngModel"
        name="correo"
        [class.is-invalid]="correo.invalid && correo.touched"
        class="form-control"
        email
        type="email"
        [ngModel]="usuario.correo"
        placeholder="Correo electrónico"
        required
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
      />
      <small
        *ngIf="correo.invalid && correo.touched"
        class="form-text text-danger"
        >Ingrese un correo válido</small
      >
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>
</form>
